[Desktop Entry]
Encoding=UTF-8
Name=Link to Datos de entrada, cálculo de resultados y gráficas de cada ensayo
Type=Link
URL=file:///home/javier/code-projects/GitHub_javrui/geo-design_GitHubPUB_RTD/build/html/especificaciones_de_cada_ensayo.html
Icon=text-html
